<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <header>
      <% include partials/header %>
    </header>

    <main>
      <h1>THIS IS MY MAIN CONTENT<h1>
      <h3>welcome <%= role %>!</h3>
    </main>

  <footer>
    <% include partials/footer %>
  </footer>

  <% include partials/scripts %>
  <script type="text/javascript" src="/public/js/index.js"></script>
  </body>
</html>
