<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <main>
      <div class='container'>
        <h3>User Login</h3>

        <form action='/login' method='post'>
          Email:<br>
          <input type="text" name="email">
          <br>
          Password:<br>
          <input type="password" name="password">
          <br><br>
          <input type="submit" value="LOG IN">
        </form>

        <a href='/signup'>create account</a>
      </div>
    </main>

  <% include partials/scripts %>
</html>
